@model Book
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <br /><br />
    <div style="float: right">
        <h5>Добавить книгу</h5>
    </div>
    <br /><br />
    <div class="boox">
        <h5>
            <br />
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <br />
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
            <br />
            <label asp-for="Category"></label>
            <input asp-for="Category" class="form-control" />
            <span asp-validation-for="Category" class="text-danger"></span>
        </h5>
        <button type="submit" class="btn btn-cta-primary">Добавить</button>
        <button class="btn btn-cta-secondary" asp-controller="library" asp-action="Index">Отмена</button>
    </div>
</form>

@section Scripts{
	@{
    <partial name="_ValidationScriptsPartial" />
	}
}