@model Book
@{
    ViewData["Title"] = "Delete";
}

<form method="post">
    <br /><br />
    <div style="float: right">
        <h5>Удалить данные о книге</h5>
    </div>
    <br /><br />
    <div class="boox">
        <h4 style="margin-left:50px; margin-right:50px">
            <br />
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
            <br />
            <label asp-for="Author"></label>
            <input asp-for="Author" disabled class="form-control" />
            <br />
            <label asp-for="Category"></label>
            <input asp-for="Category" disabled class="form-control" />
        </h4>
        <div align="center">
        <button type="submit" class="btn btn-cta-dander">Удалить</button>
        <button class="btn btn-cta-secondary" asp-controller="library" asp-action="Index" asp-route-cat="1">Отмена</button>
        </div>
    </div>
</form>

@section Scripts{
	@{
    <partial name="_ValidationScriptsPartial" />
	}
}

