@model Book
@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Изменить данные о книге</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Category"></label>
            <input asp-for="Category" class="form-control" />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-cta-primary">Изменить</button>
        <a class="btn btn-cta-secondary" asp-controller="library" asp-action="Index">Отмена</a>
    </div>
</form>

@section Scripts{
	@{
    <partial name="_ValidationScriptsPartial" />
	}
}