@model IEnumerable<Book>
@{
    ViewData["Title"] = "Index";
}

<form align="center">
    <div>
        <h2>
            Список книг 1 категории:
        </h2>
            <div style="padding-left: 65%">
                <button class="btn btn-cta-secondary" asp-controller="library" asp-action="Create">Добавить новую книгу</button>
            </div>

            <h4 style="color: #122b40; padding-right: 65%">
                <img src="/css/noun-sort-1590833.png" class="images" alt="Сортировать">
                Количество книг: 

            </h4>

            @foreach (var obj in @Model)
            {
                <div class="box">
                    <h3> @obj.Name</h3>
                    <a class="btn btn-cta-secondary" style="float: right" asp-controller="library" asp-action="Delete" asp-route-id=@obj.Count>Удалить</a>
                    <a class="btn btn-cta-secondary" style="float: right" asp-controller="library" asp-action="Edit" asp-route-id=@obj.Count>Изменить</a>
                    <h6> @obj.Author</h6>
                </div>
                <br>
            }
    </div>
</form>


